.App {
  padding: 50px;
}

.semi-bold {
  font-weight: 600;
}

.p-1{
  padding: 5px;
}

.pl-1 {
  padding-left: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 40px;
}

.pt-3 {
  padding-top: 30px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-3{
  margin-top: 30px;
}

.d-flex{
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}



.justify-content-between {
  justify-content: space-between;
}

.flex-end {
  align-self: flex-end;
}

.task-status {
  width: 33%;
  text-align: center;
  cursor: pointer;
}

.gray {
  color: gray;
}

.create {
  width: 150px;
  background-color: #fff;
  border: none;
  box-shadow: 2px 2px 2px 2px #ddd;
  height: 35px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}